/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f0f0f0; /* Agregué un color de fondo */
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    z-index: 1000;
    background-color: #333; /* Agregué un color de fondo */
}

/* Contenedor principal */
.container {
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos y textos */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.temperature {
    font-size: 20px;
    color: #ff6b6b;
    margin-bottom: 20px;
}

.temperature-value {
    font-weight: bold;
}

.setpoint {
    font-size: 18px;
    color: #333;
}

/* Slider */
#setpoint-slider {
    width: 100%;
    margin: 10px 0;
}
